<ul id="list" class="grid grid-cols-5 gap-2">
  {% for item in list_items %}
  {% let url = format!("/delete/{}", item.id) %}
  <li class="flex flex-col gap-2 border-blue-900 border-2 rounded-lg p-6 my-3 max-w-sm">
    <p>Weight Type: {{ item.weight_type }}</p>
    <p>Mass: {{ item.mass }}</p>
    <p>Reps: {{ item.reps }}</p>
    <p>Date: {{ item.date.format("%Y-%m-%d %H:%M:%S").to_string() }}</p>
    <button class="bg-red-200 rounded-lg p-2 hover:bg-red-400" hx-delete={{ url }} hx-target="#list-container"
      hx-swap="innerHTML">Remove</button>
  </li>

  {% match err %}
  {% when Some with (err) %}
  <p style="color: red;">{{ err }}</p>
  {% when None%}
  {% endmatch %}

  {% endfor %}
</ul>
